@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Thank you for confirming your account, please <a href="https://localhost:44306/Identity/Account/Login">Log In</a> again to continue to Vidly.
</p>