@using Divo.Models
@using Divo.Views.Shared

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-action="Index">Stem uitbrengen</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.FormNavClass(ViewContext)" id="profile" asp-action="Construction">Stem Geschiedenis</a></li>
</ul>
