@using Divo.Views.Shared

@{
    ViewData["Title"] = "Under Construction";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<br/>
<br />
<p>Deze pagina word nog aan gewerkt!</p>